@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  @font-face {
  font-family: "Magilio";
  src: url("fonts/MagilioRegular.ttf") format("truetype");
  }
}

@layer components{
  .btn-primary {
    @apply px-5 py-2 bg-[#fac9c3] hover:bg-[#eca49a] text-black font-magilio font-bold rounded-lg text-base w-full;
  }
}



.text-shadow {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#root{
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
